body
{

}

div.Monster{
background-color:#E0EEE0;
width:250px;
position:relative;
}

div.MouseOver
{
	  display:none; 
      position:absolute; 
      border-style:solid;
      border-bottom-width:thin;
      font-weight:bold;
      background-color: white; 
      padding: 5px;
      z-index:999; /* This should always be on top! */ 
}

span.Drag
{
    float:right;
    width:40px;
}


ul.Monster
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li.Monstername
{
    font-size:larger;
    font-weight:bolder;
    background-color:Green;
    color:White;
}
li.Abilityname
{
    font-size:large;
    font-weight:bold;
    background-color:#bebebe;

}
li.Ability
{
    margin-left:20px;
}

li.Damage, li.Hit
{
	background-color:Black;
	color:White;
	font-weight:bold;
}

a.Crit
{
	font-size:large;
	color:Red;
}

.AddMobControl
{
	width:6em;
	margin-left: 0.5em;
	color: #781351;
	background: #fee3ad;
	border: 1px solid #781351;
}
.AddMobLabel
{
	width:6em;
	float:left;
	text-align:right;
	margin-right:0.5em;
	display:block;
}
.AddMobFieldset
{
	border: 1px solid #781351;
	width: 25em;
}
.AddMobLegend
{
	color: #fff;
	background-color:#ffa20c;
	border: 1px solid #781351;
	padding: 2px 6px;
}
#mobAddButton
{
	color: #000000;
	background-color:#ffa20f;
	border: 2px outset #d7b9c9;
}