body
{

}

div.Monster{
background-color:#E0EEE0;
width:250px;
position:relative;
}

div.MouseOver
{
	  display:none; 
      position:absolute; 
      border-style:solid;
      border-bottom-width:thin;
      font-weight:bold;
      background-color: white; 
      padding: 5px;
      z-index:999; /* This should always be on top! */
      
}


span.Drag
{
    float:right;
    width:40px;
}


ul.Monster
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li.Monstername
{
    font-size:larger;
    font-weight:bolder;
    background-color:Green;
    color:White;
}
li.Abilityname
{
    font-size:large;
    font-weight:bold;
    background-color:#bebebe;

}
li.Ability
{
    margin-left:20px;
}

li.Damage, li.Hit
{
	background-color:Black;
	color:White;
	font-weight:bold;
}
